{% assign footerType = page.footer %}
<footer {% if footerType != 'index' %}class="padding"{% endif %}>
    <div class="colour-switch js-colour-switch"></div>
    {% if footerType == 'index' %}
        <div class="view-list">
            <a href="?grid" class="nav-link js-view-link" data-view="grid">Grid View</a>
            <a href="?list" class="nav-link js-view-link" data-view="list">List View</a>
            <a href="?full" class="nav-link js-view-link" data-view="full">Full View</a>
        </div>
    {% elsif footerType == 'project' %}
    <div class="text-slider-indicator">
        <h3 class="js-slide-number">0 / 0</h3>
    </div>
    {% else %}
        <div class="view-list">
            <a href="/pages/privacy-policy" class="footer-link"><h3>Privacy Policy</h3></a>
            <a href="/pages/cookie-policy" class="footer-link"><h3>Cookie Policy</h3></a>
        </div>
    {% endif %}
</footer>