<section class="homepage-feature">
    {% for item in include.intro.content %}
        <div class="feature-item">
            <div class="feature-background{% if item.toggle == true %} default{% endif %}">
                {% if item.type == 'introimage' %}
                    <img src="{{ item.image }}" alt="">
                {% elsif item.type == 'introvideo' %}
                    <video preload loop playsinline autoplay muted>
                        <source src="{{ item.video }}" type="video/mp4">
                    </video>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% include logo.html %}
    <div class="mouse-follower">{{ include.intro.text}}</div>
</section>
{% if item.toggle == true %}
    
{% endif %}