<div class="projects-filters js-projects-filters">
    <div class="title js-project-filter">
        <h3>{{ page.text.filters | default: 'Filters' }}</h3>
        <div class="plus"></div>
    </div>
    <div class="projects-filters-container">
        <div class="project-filter-item">
            <div class="title">
                <h3>{{ page.text.client | default: "Client" }}</h3>
            </div>
            <div class="content">
                {% for i in (1..5) %}
                    {% for item in site.clients %}
                        <a href="#" class="nav-link js-filter-btn" data-filter="{{ item.title | slugify }}">{{ item.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="project-filter-item">
            <div class="title">
                <h3>{{ page.text.sector | default: "Sector" }}</h3>
            </div>
            <div class="content">
                {% for i in (1..5) %}
                    {% for item in site.sectors %}
                        <a href="#" class="nav-link js-filter-btn" data-filter="{{ item.title | slugify }}">{{ item.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="project-filter-item">
            <div class="title">
                <h3>{{ page.text.service | default: "Services" }}</h3>
            </div>
            <div class="content">
                {% for i in (1..5) %}
                    {% for item in site.services %}
                        <a href="#" class="nav-link js-filter-btn" data-filter="{{ item.title | slugify }}">{{ item.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="project-filter-item">
            <div class="title">
                <h3>{{ page.text.year | default: "Year" }}</h3>
            </div>
            <div class="content">
                {% for item in site.years %}
                    <a href="#" class="nav-link js-filter-btn" data-filter="{{ item.year }}">{{ item.year }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>