{% assign type = include.type %}
{% assign img = include.img %}
{% assign title = include.title %}
{% assign desc = include.desc %}
{% assign projDate = include.projDate %}
{% assign client = include.client %}
{% assign sectors = include.sectors %}
{% assign services = include.services %}
{% assign projectURL = include.projectURL %}
{% if type == 'list' %}
    <a href="{{ projectURL }}" class="proj-list-item js-list-item js-project-item" data-year="{{ projDate }}" data-client="{{ client | slugify }}" data-sector="{% for sector in sectors %}{% if forloop.last == true %}{{ sector | slugify }}{% else %}{{ sector | slugify }} {% endif %}{% endfor %}" data-service="{% for service in services %}{% if forloop.last == true %}{{ service | slugify }}{% else %}{{ service | slugify }} {% endif %}{% endfor %}">
        <img loading=lazy src="{{ img }}" alt="" class="proj-list-img">
        <h3 class="title">{{ title }}</h3>
        <h3 class="mobile-hidden desc">{{ desc }}</h3>
        <h3>{{ client }}</h3>
        <h3>{{ projDate }}</h3>
    </a>
{% elsif type == 'full' %}
    <div class="project-item js-project-item" data-year="{{ projDate }}" data-client="{{ client | slugify }}" data-sector="{% for sector in sectors %}{% if forloop.last == true %}{{ sector | slugify }}{% else %}{{ sector | slugify }} {% endif %}{% endfor %}" data-service="{% for service in services %}{% if forloop.last == true %}{{ service | slugify }}{% else %}{{ service | slugify }} {% endif %}{% endfor %}">
        <div class="project-full-title">
            <h3 class="title">{{ title }}</h3>
            <h3 class="desc">{{ desc }}</h3>
            <h3>{{ projDate }}</h3>
        </div>
        <a href="{{ projectURL }}" class="homepage-project">
            <img loading=lazy src="{{ img }}" alt="">
        </a>
    </div>
{% else %}
    <a href="{{ projectURL }}" class="homepage-project js-project-item" data-year="{{ projDate }}" data-client="{{ client | slugify }}" data-sector="{% for sector in sectors %}{% if forloop.last == true %}{{ sector | slugify }}{% else %}{{ sector | slugify }} {% endif %}{% endfor %}" data-service="{% for service in services %}{% if forloop.last == true %}{{ service | slugify }}{% else %}{{ service | slugify }} {% endif %}{% endfor %}">
        <img loading=lazy src="{{ img }}" alt="">
        <h2>{{ title }}</h2>
        <p>{{ desc }}</p>
    </a>
{% endif %}