body.dark {
    color: $white;
    background-color: $black;
    a, h3, .nav-link {
        color: $white;
    }
    footer, header.nav {
        background-color: $black;
    }
    header.nav {
        border-bottom: 1px solid $white;
        svg.logo {
            path {
                fill: $white;
            }
        }
    }
    .nav-link {
        color: $white;
        &::before {
            background-color: $black;
            border: 1px solid $white;
        }
        &.current {
            &::before {
                background-color: $white;
            }
        }
    }
    footer {
        border-top: 1px solid $white;
        .colour-switch {
            &::before {
                background-color: $white;
                transform:translateX(100%);
            }
        }
    }
    section.projects {
        &.grid-view {
            .homepage-project {
                h2 {
                    &::before {
                        background-color: $white;
                    }
                }
                img {
                    border: 1px solid $black;
                }
                &:hover {
                    img {
                        border: 1px solid $white;
                    }
                }
            }
        }
        &.full-view {
            .project-item {
                .project-full-title {
                    .title {
                        &::before {
                            background-color: $white;
                        }
                    }
                }
            }
            .project-full-title {
                border-bottom: 1px solid $white;
                border-top: 1px solid $white;
                background-color: $black;
            }
        }
        &.list-view {
            .proj-list-item {
                border-bottom: 1px solid $white;
                h3.title {
                    &::before {
                        background-color: $white;
                    }
                }
                &.proj-list-title {
                    background-color: $black;
                }
            }
        }
    }
    section.news {
        .news-item {
            img {
                border: 1px solid $black;
            }
            &:hover {
                img {
                    border: 1px solid $white;
                }
            }
        }
    }
}