body.dark {
    color: $white;
    background-color: $black;
    a, h3, .nav-link {
        color: $white;
    }
    footer, header.nav {
        background-color: $black;
    }
    header.nav {
        border-bottom: 1px solid $white;
        svg.logo {
            path {
                fill: $white;
            }
        }
    }
    .nav-link {
        color: $white;
        &::before {
            background-color: $black;
            border: 1px solid $white;
        }
        &.current {
            &::before {
                background-color: $white;
            }
        }
    }
    footer {
        border-top: 1px solid $white;
        .colour-switch {
            &::before {
                background-color: $white;
                transform:translateX(100%);
            }
        }
    }
    section.projects {
        &.grid-view {
            .homepage-project {
                h2 {
                    &::before {
                        background-color: $white;
                    }
                }
                img {
                    border: 1px solid $black;
                }
                &:hover {
                    img {
                        border: 1px solid $white;
                    }
                }
            }
        }
        &.full-view {
            .project-item {
                .project-full-title {
                    .title {
                        &::before {
                            background-color: $white;
                        }
                    }
                }
            }
            .project-full-title {
                border-bottom: 1px solid $white;
                border-top: 1px solid $white;
                background-color: $black;
            }
        }
        &.list-view {
            .proj-list-item {
                border-bottom: 1px solid $white;
                h3.title {
                    &::before {
                        background-color: $white;
                    }
                }
                &.proj-list-title {
                    background-color: $black;
                }
            }
        }
    }
    section.news {
        .news-item {
            img {
                border: 1px solid $black;
            }
            &:hover {
                img {
                    border: 1px solid $white;
                }
            }
        }
    }
    // About Layout
    .about-filters {
        border-right: 1px solid $white;
        background-color: $black;
    }
    .about-content {
        .about-items {
            /* width */
            &::-webkit-scrollbar {
                border-top: 1px solid $white;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: $black;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $white;
            }
        }
        .about-item {
            border-left: 1px solid $white;
            border-bottom: 1px solid $white;
            .about-title {
                border-bottom: 1px solid $white;
            }
        }
    }
    // Project Page Layouts
    section.project-content {
        .project-info-top {
            border-bottom: 1px solid $white;
        }
    }
    .swiper-button {
        background-color:$black;
        color: $white;
        &.prev {
            border-right: 1px solid $white;
        }
        &.next {
            border-left: 1px solid $white;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            background: $black;
            border: 1px solid $white;
            &-active {
                background: $white;
            }
        }
    }
    //Contact Pull Out
    section.contact {
        background-color: $black;
        border-left: 1px solid $white;
    }
    // Projects Filters Layout
    div.projects-filters {
        background: $black;
        border-top: 1px solid $white;
        .title {
            border-bottom: 1px solid $white;
        }
        .plus {
            &:before, &:after {
                background: $white;
            }
        }
    }
    div.projects-filters-container {
        .project-filter-item {
            border-right: 1px solid $white;
            &:last-child {
                border-right: 0px;
            }
        }
    }
}