//Navigation
header.nav {
    position:fixed;
    top:0;
    left:0;
    z-index: 9999;
    height: $ui-height;
    width:100vw;
    @include flex (center, space-between);
    padding: 0 0 0 16px;
    border-bottom: 1px solid $black;
    svg.logo {
        max-width: 48px;
        path {
            fill: $black;
        }
    }
    nav {
        @include flex (flex-start, flex-end);
        flex-direction: row-reverse;
    }
}
.nav-link {
    margin-right: 16px;
    padding-left: 10px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position:absolute;
        top: calc(50% - 2px);
        left: 0;
        height: 3px;
        width:3px;
        background-color: $white;
        border: 1px solid $black;
    }
    &.current {
        &::before {
            background-color: $black;
        }
    }
}

//Footer
footer {
    position:fixed;
    bottom:0;
    left:0;
    z-index: 9999;
    height: $ui-height;
    width:100vw;
    @include flex (center, space-between);
    padding: 0 0 0 16px;
    border-top: 1px solid $black;
    .colour-switch {
        width: 24px;
        height:12px;
        border:1px solid $hover;
        position:relative;
        cursor: pointer;
        &::before {
            content: '';
            width:50%;
            height:100%;
            background-color: $black;
            position: absolute;
            top:0;
            left:0;
            transform: translateX(0%);
            transition: transform 0.1s linear;
        }
    }
}