@font-face {
    font-family: 'NARI';
    src: url('/assets/fonts/founders-grotesk-test-regular.woff2') format('woff2'),
        url('/assets/fonts/founders-grotesk-test-regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'NARI';
    src: url('/assets/fonts/founders-grotesk-test-semibold.woff2') format('woff2'),
        url('/assets/fonts/founders-grotesk-test-semibold.woff') format('woff');
    font-weight: bold;
}