section.projects {
    display:block;
    &.hidden {
        display:none;
    }
    //Grid View Project
    &.grid-view {
        padding: $ui-height $ui-height 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $ui-height;
        row-gap: $ui-height;
        .homepage-project {
            h2 {
                padding-left: 0px;
                position:relative;
                display:block;
                &::before {
                    content: '';
                    display: block;
                    position:absolute;
                    top: calc(50% - 2px);
                    left: 0;
                    height: 0px;
                    width:0px;
                    background-color: $black;
                }
            }
            img {
                margin-bottom: 8px;
                border: 1px solid $white;
                vertical-align: bottom
            }
            &:hover {
                h2 {
                    padding-left: 9px;
                    &::before {
                        height: 3px;
                        width:3px;
                    }
                }
                img {
                    border: 1px solid $black;
                }
            }
        }
        &.hidden {
            display:none;
        }
    }
    // Full View Project
    &.full-view {
        padding-bottom: $ui-height;
        margin-top: -1px;
        position:relative;
        .project-item {
            .project-full-title {
                .title {
                    padding-left: 0px;
                    position:relative;
                    display:block;
                    &::before {
                        content: '';
                        display: block;
                        position:absolute;
                        top: calc(50% - 2px);
                        left: 0;
                        height: 0px;
                        width:0px;
                        background-color: $black;
                    }
                }
                .desc {
                    justify-self: flex-end;
                }
            }
            &:hover {
                .project-full-title {
                    .title {
                        padding-left: 9px;
                        &::before {
                            height: 3px;
                            width:3px;
                        }
                    }
                }
            }
        }
        .homepage-project {
            margin:0;
            img {
                width: 100%;
                margin:0;
                vertical-align: bottom;
            }
        }
        .project-full-title {
            padding: 4px 16px 0;
            height: $ui-height;
            @include flex(center, space-between);
            border-bottom: 1px solid $black;
            border-top: 1px solid $black;
            background-color: $white;

            position: sticky;
            top:39px;
        }
    }
    //List view project
    &.list-view {
        padding-bottom: $ui-height;
        position:relative;
        .proj-list-item {
            display: grid;
            grid-template-columns: 2fr 4fr 1fr 1fr;
            align-content: center;
            min-height: $ui-height;
            padding: 4px 16px 0;
            border-bottom: 1px solid $black;
            .desc {
                padding-right: 16px;
            }
            &:last-child {
                border-bottom: 0px;
            }
            h3.title {
                padding-left: 0px;
                position:relative;
                display:block;
                &::before {
                    content: '';
                    display: block;
                    position:absolute;
                    top: calc(50% - 2px);
                    left: 0;
                    height: 0px;
                    width:0px;
                    background-color: $black;
                }
            }
            .proj-list-img {
                position:fixed;
                width: 200px;
                z-index: -1;
                top:0;
                left:0;
                opacity:0;
                pointer-events: none;
                transform: translate3d(calc(-50% + var(--cursorX)), calc(-50% + var(--cursorY)), 0);
                transition: transform 0.05s linear, opacity 0.1s linear;
            }
            h3:last-child {
                justify-self: end;
                text-align: right;
            }
            &.proj-list-title {
                position:sticky;
                top: $ui-height;
                background-color: $white;
                z-index:99;
            }
            &.faded {
                h3 {
                    opacity: 20%;
                }
            }
            &:hover {
                .proj-list-img {
                    opacity: 100%;
                }
                .title {
                    padding-left: 9px;
                    &::before {
                        height: 3px;
                        width:3px;
                        background-color: $black;
                    }
                }
            }
        }
    }
}
// Projects Filters Layout
.reset {
    position: fixed;
    bottom: 11px;
    left: 64px;
    z-index: 10000;
    cursor: pointer;
    h3 {
        margin: 0;
    }
}
div.projects-filters {
    position:fixed;
    z-index:98;
    left:0;
    bottom:40px;
    background: $white;
    width:100vw;
    height: 40vh;
    border-top: 1px solid $black;
    transform: translateY(calc(100% - 39px));
    transition: transform 0.4s $transition;
    .title {
        height: $ui-height;
        cursor: pointer;
        @include flex(center, space-between);
        padding: 0 16px;
        border-bottom: 1px solid $black;
        h3 {
            margin:0;
        }
    }
    .plus {
        width: 11px;
        height: 11px;
        position:relative;
        @include flex(center, center);
        &:before, &:after {
            content: '';
            display: block;
            position:absolute;
            width: 100%;
            height: 1px;
            background: $black;
        }
        &:after {
            transform: rotate(90deg);
        }
    }
    &.active {
        transform: translateY(0%);
        .plus {
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(135deg);
            }
        }
    }
}
div.projects-filters-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .content {
        height: calc(40vh - 80px);
        overflow-y: scroll;
        @include flex(flex-start, flex-start);
        flex-direction: column;
        padding: 16px;
        .nav-link {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .project-filter-item {
        border-right: 1px solid $black;
        &:last-child {
            border-right: 0px;
        }
    }
}

//Contact Pull Out
section.contact {
    position: fixed;
    top:$ui-height;
    right:0;
    height:calc(100vh - 80px);
    width: 25vw;
    padding: 32px;
    z-index:9999;
    background-color: $white;
    border-left: 1px solid $black;
    transform: translateX(100%);
    transition: transform 0.5s $transition;
    .made-by {
        position:absolute;
        bottom: 16px;
        right: 16px;
        opacity: 40%;
        p {
            display: inline;
            font-size: 11px;
        }
    }
}
.contact-active {
    section.contact {
        transform: translateX(0%);
    }
    main {
        transform: translateX(-25vw);
        opacity: 24%;
    }
    header.nav {
        .nav-link {
            opacity: 30%;
        }
        #contact {
            opacity: 100%;
        }
    }
    section.projects.list-view .proj-list-item:hover .proj-list-img {
        opacity: 0%;
    }
}

// News Layout
section.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10vw;
    row-gap: 10vw;
    padding: 10vw;
    align-items: center;
    .news-item {
        img {
            margin-bottom: 8px;
            border: 1px solid $white;
        }
        &:hover {
            * {
                text-decoration: underline;
            }
            img {
                border: 1px solid $black;
            }
        }
        h1 {
            font-size: 40px;
        }
    }
}

// About Layout
section.about {
    max-height: calc(100vh - 80px);
    overflow-x: scroll;
    position: relative;
}
.about-filters {
    position:fixed;
    top:40px;
    left:0;
    width: 15vw;
    height:100%;
    border-right: 1px solid $black;
    padding: 16px;
    background-color: $white;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    .nav-link {
        margin-bottom: 16px;
    }
}
.about-content {
    height: calc(100vh - 80px);
    width: 85vw;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 15vw;
    cursor: grab;
    .about-items {
        position: relative;
        width: 100%;
        height:100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        user-select: none;
        font-size: 0;
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
            border-top: 1px solid $black;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background: $white;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $black;
            width:10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .about-item {
        width: 560px;
        height:100%;
        margin:0;
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;
        display: inline-flex;
        flex-direction: column;
        position:relative;
        &:first-child {
            border-left: 0px;
        }
        .about-title {
            width:100%;
            margin: 0;
            padding: 8px 16px;
            border-bottom: 1px solid $black;
            h3 {
                margin: 0;
            }
        }
        .about-item-body {
            padding: 24px;
            white-space:normal;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                column-count: 2;
                font-size: 13px;
                li {
                    margin-bottom: 8px;
                    a {
                        text-decoration: underline;
                        &:hover {
                            color: #555;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
    }
}
section.mobile-about {
    display:none;
}

// Project Page Layouts
section.project-content {
    position:absolute;
    top:$ui-height;
    width:100vw;
    height: calc(100vh - 80px);
    overflow: hidden;
    .project-info-top {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        @include flex(center, space-between);
        padding: 0 16px;
        height: $ui-height;
        border-bottom: 1px solid $black;
        font-size: 14px;
        line-height:1;
        margin:0;
        * {
            margin: 0;
        }
        .project-desc {
            position:absolute;
            top:50%;
            left:50%;
            transform: translate3d(-50%, -50%, 0)
        }
    }
}
.project-swiper-container {
    width:100%;
    height:calc(100% - 40px);
    margin-top: 40px;
    .swiper-wrapper {
        width:100%;
        height:100%;
        .swiper-slide {
            width:100%;
            height:100%;
            padding: 0 5vw;
            @include flex(center, center);
            cursor: grab;
        }
    }
}
.swiper-button {
    position:fixed;
    top:80px;
    height:calc(100vh - 120px);
    width: 5vw;
    background-color:$white;
    z-index:9999;
    @include flex(center, center);
    cursor: pointer;
    &:before {
        display:none;
    }
    &:after {
        display:none;
    }
    &.prev {
        left:0;
        border-right: 1px solid $black;
    }
    &.next {
        right:0;
        border-left: 1px solid $black;
    }
    &-disabled {
        h3 {
            opacity: 20%;
        }
    }
    .mobile-text {
        display: none;
    }
}
.swiper-pagination {
    position: fixed !important; 
    bottom: 13px !important;
    z-index: 99999 !important;
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    .swiper-pagination-bullet {
        background: $white;
        border: 1px solid $black;
        border-radius: 0%;
        opacity: 100%;
        width: 5px;
        height: 5px;
        &-active {
            background: $black;
        }
    }
}

.text-section {
    @include flex(center, center);
    .text {
        width: 35vw;
        &.two {
            margin-left: 2.5vw;
        }
    }
    &.two-column {
        .text {
            width: 30vw;
        }
    }
}
.image-section, .duoimage-section {
    height:100%;
    width:100%;
    @include flex(center, center);
    img {
        max-height: 100%;
        max-width: 100%;
        pointer-events: none;
    }
    &.fill {
        overflow:hidden;
        img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
}
.duoimage-section {
    padding: 40px 0;
    img {
        max-width: 40%;
        &:last-child {
            margin-left: 40px;
        }
    }
}
.video-section {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    video {
        max-width: 100%;
        max-height: 100%;
    }
}
.slide-description {
    position: fixed;
    bottom: 12px;
    left: 5vw;
    z-index: 9999;
    h3 {
        margin: 0;
    }
}
.text-slider-indicator {
    h3 {
        margin:0;
    }
}