// COLOURS
$white: #ffffff;
$black: #000000;

// GENERAL
$font: "Ewhurst", sans-serif;
$ui-height: 32px;
$transition: cubic-bezier(0.215, 0.61, 0.355, 1);

$mq-xl: 1200px;
$mq-l: 991px;
$mq-m: 780px;
$mq-s: 600px;