// COLOURS
$white: #ffffff;
$black: #000000;
$hover: #555555;
$select: #cccccc;

// GENERAL
$font: "NARI", sans-serif;
$ui-height: 40px;
$transition: cubic-bezier(0.215, 0.61, 0.355, 1);

$mq-xl: 1200px;
$mq-l: 991px;
$mq-m: 780px;
$mq-s: 600px;