---
---
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'typography';
@import 'components';
@import 'layouts';
@import 'interactivity';

body {
    background-color: $white;
    color: $black;
    &.dark {
        background-color: $black;
        color: $white;
    }
}
main {
    padding: 160px 0 0;
    opacity:100%;
    transition: opacity 0.4s linear;
}
svg {
    display: inline-block;
}

@import 'responsive';
@import 'shame';