<!doctype html>
<html>
<head>
  <title>{% if site.data.seo.title %}{{ site.data.seo.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% if page.overall.seo-description %}{{ page.overall.seo-description }}{% elsif site.data.seo.description %}{{ site.data.seo.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url}}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/images/favicon/N.png" type="image/png" id="icon">
  {% include font-preload.html %}
  <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- Begin CMS head -->
  {{ site.data.code.head.code }}
  <!-- End CMS head -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
</head>
<body>
  {% include header.html %}
  {% include footer.html %}
  {% include contact.html %}
  <main role="main">
    {{ content }}
  </main>
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script>
    let schemeCookie = $.cookie('dark');
    if (schemeCookie === 'true') {
        $('body').addClass('dark');
    }
  </script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  <script src="/assets/scripts/scripts.js"></script>
  <script src="/assets/scripts/mouse.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <script type="text/javascript" id="cookiebanner"
  src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"
  data-position="bottom" data-fg="#000000" data-bg="#ffffff" data-link="rgba(0,0,0,0.4)" data-padding="32px" data-font-family="NARI, sans-serif" data-z-index="9999999" data-font-size="14px" data-height="40px"
  data-message="{{ site.data.cookie.body }}"
  data-linkmsg="{{ site.data.cookie.btn }}">
  </script>
  <script>
    function iconChange() {
    setTimeout(function(){ document.getElementById("icon").href = "/assets/images/favicon/N.png";}, 600);
    setTimeout(function(){ document.getElementById("icon").href = "/assets/images/favicon/A.png";}, 1200);
    setTimeout(function(){ document.getElementById("icon").href = "/assets/images/favicon/R.png";}, 1800); 
    setTimeout(function(){ document.getElementById("icon").href = "/assets/images/favicon/I.png";}, 2400); 
    }
      window.onload = function() {
        iconChange();
    setInterval(function() {
    iconChange();
    }, 2401);
    };
</script>
  <!-- Begin CMS body -->
  {{ site.data.code.body.code }}
  <!-- End CMS body -->
</body>
</html>