---
layout: default
---
<section class="project-content">
    <div class="project-info-top">
        <span>{{ page.title }}</span>
        <span class="project-desc">{{ page.desc }}</span>
        <span>{{ page.year }}</span>
    </div>
    <div class="project-swiper-container">
        <div class="swiper-wrapper">
            {% for item in page.projectBuilder %}
                <div class="swiper-slide" data-desc="{{ item.desc }}">
                    {% include {{ item.type | append: '.html' }}
                        type=item.type
                        size=item.size
                        image=item.image
                        imageTwo=item.imageTwo
                        desc=item.desc
                        textOne=item.textOne
                        textTwo=item.textTwo
                        video=item.video
                        sound=item.sound
                    %}
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button prev"><h3>Prev</h3></div>
        <div class="swiper-button next"><h3>Next</h3></div>
    </div>
</section>
<div class="slide-description">
    <h3 class="js-slide-description">
    {% for item in page.projectBuilder %}
        {% if forloop.first == true %}
            {{ item.desc }}
        {% endif %}
    {% endfor %}
    </h3>
</div>